/* Text */
h5 {
  font-size:xx-large;
  color: #623779;
}

p {
  font-size:larger;
}

/* Navigation bar */

.customNav {
  position: fixed;
  width: 100%;
  background-color: #F5E8E4 !important;
  background-size: cover;
  z-index: 10;
}

.navbar-nav {
  color: #131F32;
  margin:auto;
}

.nav-link {
  font-size: x-large;
}

/* Jumbotron  */
.jumbotron {
  background-image: url(../images/Background.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(75vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Project Overview  */

.card {
  padding: 100px;
  border: none;
}


